stages:
  - build

windows_build:
  stage: build
  tags:
    - windows
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

  before_script:
    - choco install cmake --version=4.0.0 --installargs 'ADD_CMAKE_TO_PATH=System' -y
    - cmake --version

  script:
    - cmake -S . -B build
    - cmake --build build --config Release
